<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ServicioCamaraPortBinding" />
				<binding name="ServicioVehiculoPortBinding" />
				<binding name="ServicioPropietarioPortBinding" />
				<binding name="ServicioCapturaPortBinding" />
				<binding name="ServicioInfraccionPortBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/TransitSoftWA/ServicioCamara"
                binding="basicHttpBinding" bindingConfiguration="ServicioCamaraPortBinding"
                contract="ServiciosWS.ServicioCamara" name="ServicioCamaraPort" />
			<endpoint address="http://localhost:8080/TransitSoftWA/ServicioVehiculo"
                binding="basicHttpBinding" bindingConfiguration="ServicioVehiculoPortBinding"
                contract="ServiciosWS.ServicioVehiculo" name="ServicioVehiculoPort" />
			<endpoint address="http://localhost:8080/TransitSoftWA/ServicioPropietario"
                binding="basicHttpBinding" bindingConfiguration="ServicioPropietarioPortBinding"
                contract="ServiciosWS.ServicioPropietario" name="ServicioPropietarioPort" />
			<endpoint address="http://localhost:8080/TransitSoftWA/ServicioCaptura"
                binding="basicHttpBinding" bindingConfiguration="ServicioCapturaPortBinding"
                contract="ServiciosWS.ServicioCaptura" name="ServicioCapturaPort" />
			<endpoint address="http://localhost:8080/TransitSoftWA/ServicioInfraccion"
                binding="basicHttpBinding" bindingConfiguration="ServicioInfraccionPortBinding"
                contract="ServiciosWS.ServicioInfraccion" name="ServicioInfraccionPort" />
		</client>
	</system.serviceModel>
</configuration>