<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Base de Datos Principal -->
		<add key="tipoDeBaseDeDatos" value="MYSQL" />
		<add key="baseDeDatos" value="transitsoft" />
		<add key="nombreDeHost" value="parcialmysql.crbuvhnvfhpf.us-east-1.rds.amazonaws.com" />
		<add key="puerto" value="3306" />
		<add key="usuario" value="admin" />
		<add key="contraseña" value="cAByAG8AZwAzADEAaQBuAGYAMwAwAA==" />

		<!-- Base de Datos Secundaria -->
		<add key="tipoDeBaseDeDatos2" value="MSSQL" />
		<add key="baseDeDatos2" value="transitsoft" />
		<add key="nombreDeHost2" value="parcialmssql.crbuvhnvfhpf.us-east-1.rds.amazonaws.com" />
		<add key="puerto2" value="1433" />
		<add key="usuario2" value="admin" />
		<add key="contraseña2" value="cAByAG8AZwAzADEAaQBuAGYAMwAwAA==" />
	</appSettings>
</configuration>