<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="tipoDeBaseDeDatos" value="MYSQL" />
		<add key="baseDeDatos" value="laboratorio7" />
		<add key="nombreDeHost" value="labs-2025-2-prog3.cn42wkyge2s9.us-east-1.rds.amazonaws.com" />
		<add key="puerto" value="3306" />
		<add key="usuario" value="root" />
		<add key="contraseña" value="cAByAG8AZwAzADEAaQBuAGYAMwAwAA==" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>